config BACKLIGHT_LM3533
	bool "Backlight Driver for LM3533"
	depends on BACKLIGHT
	select DM_I2C
	help
	  Say Y to enable the backlight driver for National Semiconductor / TI
	  LM3533 Lighting Power chips.

config BRIDGE_SOLOMON_SSD2825
	bool "Solomon SSD2825 bridge driver"
	depends on PANEL && BACKLIGHT && DM_GPIO
	help
	  Solomon SSD2824 SPI RGB-DSI bridge driver wrapped into panel uClass.

config BRIDGE_SPI
	bool "Solomon SSD2825 bridge SPI bitbang"
	depends on BRIDGE_SOLOMON_SSD2825
	select DM_MISC
	help
	  SPI bitbang emulation for setting up bridge and panel.
